:root{
  --pink: #F467CD;
  --black: #001031;
  --white: rgb(250, 250, 255);
}


/* login page */
.login{
  background: url('../public/Mask\ Group\ 1.svg');
  height: 100vh;
  width: 100vw;
  min-height: 500px;
  overflow: hidden;
  background-position: center;
  background-size: cover;

}
.login .container{
  height: 90vh;
  min-height: 500px;
  min-width: 340px;
  background-color: var(--white);
width: 32vw;}
.login .container p:nth-of-type(2){
  color: var(--pink);
}
.login .container p:nth-of-type(1){
  color: var(--black);
}
body{
  margin: 0;
  padding: 0;
}
input[type=email], input[type = password]{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  width: 25vw;
}
input::placeholder{
  opacity: .5;
  color: aliceblue;
  font-size: .9rem;
}
.signup{
  color: var(--pink);
}

/* end navabar//////////////////////////////////// */




.admin-dashboard {
  width: 100%; /* Set a max width for the admin dashboard */
  margin: 0; /* Center the dashboard horizontally */
}

.header {
  background: linear-gradient(135deg, #F467CD, #668EDF); /* Blue header background color */
  color: #fff; /* Text color for the header */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

}

.p-header{
  margin-left: 15px;
}
.search-bar {
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.353);
  border-radius: 100px;
  margin-left: auto; /* Push the search bar to the right */
}

.search-bar input[type="text"] {
  padding: 5px;
  border:none;
  background: none;
  outline: none;
  color: aliceblue;
}
/* .search-bar input[type="text"] ::-webkit-input-placeholder{
  color: rebeccapurple;
} */


.sidebar ul {
  list-style: none; /* Remove list-style (bullet points or numbers) */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  margin-left: 15px;
  
}

body{
  background-color: var(--white);
}
.sidebar li {
  margin-bottom: 35px; /* Adjust this value to control the gap size */
}


.comment-p{
text-align: center;
}
.card{
  border: none;
  box-shadow: 3px 6px 20px rgba(190, 190, 190, 0.1),-3px -6px 20px rgba(157, 157, 157, 0.1);
  background-color: var(--white);
  border-radius: 0;
  width: 30vw;
}
.card-image{
  border-radius: 0;
}
.stars{
  width: 30%;
}
.fix{
  position: fixed;
}
.star{
  width: 20px;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 5px;
  padding: 20px;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* .hostel{
  width: 25vw;
} */
.comment-i{
  width: 55px;
}
.image{
  width: 35px;
  height: 35px;
  border-radius: 100%;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}
.ribbon{
  border-radius: 100%;
  border: 1px solid var(--pink);
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comments{
  overflow-y: scroll;
  height: 80vh;

}
.comments::-webkit-scrollbar{
  width: 5px;
}
.comments::-webkit-scrollbar-thumb{
  background-color: rgba(128, 128, 128, 0.501);
  opacity: .3;
  border-radius: 100px;
}
